.oldprice {
    text-decoration: line-through;
    font-size: 15px;
    padding-left: 20px;
}




body {
    background-color: hsl(30, 38%, 92%);
}

h1 {
    
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.4rem;

}

h2 {
    font-size: 28px;
    font-family: 'Fraunces', serif;
    max-width: 200px;

}

p {
    font-family: 'Montserrat', sans-serif;

}

.price {
    font-family: 'Fraunces', serif;
    font-size: 28px;
    color: hsl(158, 36%, 37%);
}

.container {
    width: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
}
 
.container .image{
    order: 1;
    width: 50%;
    background-color: brown;
    display: flex;
    align-items: center;
    
   

}

.container .image img {
    width: 100%;
   
}

.text {
    flex: 1;
    justify-content: left;
    width: 50%;
    flex-direction: column;
    background-color: white;
    order: 2;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}


.addtocart {
    margin-right: 2px;
    margin-top: 40px;
    justify-content: center;
    color: white;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 40px;
    padding-right: 95px;
    padding-top: 10px;
    padding-bottom: 10px;
}
